.hero{
    background-image: url('../assets/mountain.jpg');
    background-position: center;
    background-size: cover;
    height: 700px;
}

.hold-headers{
    z-index: 999;
    padding-top: 500px;
    padding-left: 150px;
}

.hold-headers-h2{
    color: #FFFFFF;
    font-size: 50px
}

.hold-headers-h5{
    color: #FFFFFF;
}

@media (max-width: 768px){
    .hero{
        height: 500px;
    }

    .hold-headers{
        padding-top: 350px;
        padding-left: 80px;
    }
}


@media (max-width: 425px){
    .hero{
        height: 300px;
    }

    .hold-headers{
        padding-top: 220px;
        padding-left: 30px;
    }

    .hold-headers-h2{
        font-size: 20px;
    }

    .hold-headers-h5{
        font-size: 15px;
    }
}