@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

li {
  list-style: none;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100% !important;
  box-sizing: border-box !important;
}

.tags {
   width: 1510px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.202);
}

.second-tags {
  display: none;
}
.left-tag,
.right-tag {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-left-tag-li {
  font-size: 20px;
}

.left-tag-li {
  font-weight: 500;
  color: rgb(108, 108, 108);
  font-size: 20px;
}

.inner-right-left-tag {
  background-color: #edeef0;
}

.inner-right-right-tag {
  background-color: #2f6cef;
  color: #ffffff;
}


.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.231);
  border-radius: 9px;
  width: 600px;
  width: 1200px;
  position: relative;
  margin-bottom: 10px;
}

.box-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.align-emoji {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  padding: 0px 20px;
  width: 100%;
}

.align-emoji-header {
  font-size: 20px;
  margin-top: 10px;
  padding: 0px 8px;
  font-weight: 600;
  font-style: normal;
  color: rgba(0, 0, 0, 0.843);
}

.content3-left-box1-row {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  width: 100%;
}
.content3-left-box1-row-header {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.873);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.content3-left-box1-i {
  padding: 0px 20px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.606);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.profile {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 35px;
  border-radius: 50%;
}

.profile-left-header {
  font-weight: 500;
  font-size: 20px;
}

.schedule {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.share-img {
  width: 15px;
  padding: 5px;
  background-color: #c1c1c1;
}
.profile-right {
  display: flex;
  gap: 30px;
}

.profile-right-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.profile-right-inner-icon {
  color: #525252;
}

.profile-right-inner-header {
  font-size: 16px;
  font-weight: 700;
  color: #525252;
}

.meetup {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  gap: 80px;
}

.meetup-left,
.meetup-right {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
  font-weight: 600;
  color: rgb(50, 50, 50);
}

.meetup-left-header,
.meetup-right-header {
  font-size: 14px;
}

.share {
  width: 25px;
  padding: 8px;
  background-color: #c1c1c1;
}

.visit-button {
  outline: none;
  width: 95%;
  padding: 4px;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  color: #ef6135;
  font-weight: 600;
}

.visit-button-2 {
  outline: none;
  width: 95%;
  padding: 4px;
  margin: 5px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 9px;
  color: #51ce10;
  font-weight: 600;
}

.dropdown-div {
  position: absolute;
  left: 85%;
  top: 75%;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px;
}

.dropdown-div > li {
  padding: 2px;
  font-weight: 600;
}

.drop-icon {
  padding: 5px;
  cursor: pointer;
  background-color: #edeef0;

}

.drop-icon-click {
  padding: 5px;
  background-color: #edeef0;
}
.drop-icon-click:hover {
  background-color: #edeef0;
}

.content-right {
  width: max-content;
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: max-content;
  box-sizing: border-box;
  gap: 10px;
}

.hold-location {
  height: min-content;
}

.inner-content-right {
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
  padding-bottom: 10px;
}

/* //! */
.hold-para,
.inner-group-1,
.inner-content-right,
.inner-group-profile {
  width: 300px;
  box-sizing: border-box !important;
}

.hold-para{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px ;
}

.hold-para > p {
  color: rgb(179, 179, 179);
}

.exlamation-icon {
  color: rgb(179, 179, 179);
}

.follow {
  background-color: #edeef0;
  border-radius: 20px;
  padding: 4px 12px;
}

.join-group {
  cursor: pointer;
}

@media (max-width: 1440px) {
  .content3-left-box1-row-header {
    font-size: 14px;
  }

  .content3-left-box1-i,
  .profile-name {
    font-size: 12px;
  }

  .profile-img,
  .tags {
    width: 610px;
  }

  .active-left-tag-li,
  .left-tag-li {
    font-size: 12px;
  }

  .inner-right-left-tag-header {
    font-size: 12px;
  }

  .drop-icon,
  .drop-icon-click
  ,
  .friend-icon {
    font-size: 10px;
  }

  .content-wrapper {
    width: 610px;
  }

  .box {
    width: 450px !important;
  }

  .content-right {
    width: 150px;
    padding: 0px 5px;
    box-sizing: border-box;
  }

  .inner-group-1 {
    box-sizing: border-box;
  }

  .box-img {
    height: 150px;
  }

  .hold-para,
  .inner-group-1,
  .inner-content-right,
  .inner-group-profile {
    width: 150px !important;
    box-sizing: border-box !important;
  }

  .location-icon,
  .pencil-icon,
  .exlamation-icon,
  .thumb-icon {
    font-size: 10px;
  }

  .eye-icon,
  .eye-header {
    font-size: 12px;
  }

  .share {
    width: 24px;
  }

  .location-header {
    font-size: 15px;
  }

  .group-header {
    font-size: 10px;
  }
  .pencil-icon {
    display: flex;
    justify-self: center;
    align-self: center;
  }
  .hold-para-p {
    font-size: 10px;
  }

  .left-inner-group-profile-header {
    font-size: 10px;
  }

  .follow {
    padding: 4px 8px;
    font-size: 10px;
  }

  .profile-img {
    width: 25px;
    border-radius: 50%;
  }

  .dropdown-div {
    left: 85%;
    top: 70%;
    background-color: #ffffff;
    min-width: 120px;
    padding: 10px;
  }

  .dropdown-div > li {
    padding: 2px;
    font-weight: 600;
    font-size: 14px;
  }

  .drop-icon-click {
    padding: 5px;
    background-color: #edeef0;
  }
}


@media (max-width: 768px) {
  .content3-left-box1-row-header {
    font-size: 14px;
  }

  .content3-left-box1-i,
  .profile-name {
    font-size: 12px;
  }

  .profile-img,
  .tags {
    width: 610px;
  }

  .active-left-tag-li,
  .left-tag-li {
    font-size: 12px;
  }

  .inner-right-left-tag-header {
    font-size: 12px;
  }

  .drop-icon,
  .friend-icon {
    font-size: 10px;
  }

  .content-wrapper {
    width: 610px;
  }

  .box {
    width: 450px !important;
  }

  .content-right {
    width: 150px;
    padding: 0px 5px;
    box-sizing: border-box;
  }

  .inner-group-1 {
    box-sizing: border-box;
  }

  .box-img {
    height: 150px;
  }

  .hold-para,
  .inner-group-1,
  .inner-content-right,
  .inner-group-profile {
    width: 150px !important;
    box-sizing: border-box !important;
  }

  .location-icon,
  .pencil-icon,
  .exlamation-icon,
  .thumb-icon {
    font-size: 10px;
  }

  .eye-icon,
  .eye-header {
    font-size: 12px;
  }

  .share {
    width: 24px;
  }

  .location-header {
    font-size: 15px;
  }

  .group-header {
    font-size: 10px;
  }
  .pencil-icon {
    display: flex;
    justify-self: center;
    align-self: center;
  }
  .hold-para-p {
    font-size: 10px;
  }

  .left-inner-group-profile-header {
    font-size: 10px;
  }

  .follow {
    padding: 4px 8px;
    font-size: 10px;
  }

  .profile-img {
    width: 25px;
    border-radius: 50%;
  }

  .dropdown-div {
    left: 85%;
    top: 70%;
    background-color: #ffffff;
    min-width: 120px;
    padding: 10px;
  }

  .dropdown-div > li {
    padding: 2px;
    font-weight: 600;
    font-size: 14px;
  }

  .drop-icon-click {
    padding: 5px;
    background-color: #edeef0;
  }
}

@media (max-width: 613px) {
  .tags {
    display: none;
  }

  .content-right {
    display: none;
  }

  .content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box !important;
  }

  .content-wrapper {
    width: 100%;
    box-sizing: border-box !important;
  }

  .box {
    margin-top: 10px;
    width: max-content !important;
    box-sizing: border-box !important;
    width: 100% !important;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.206);
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.26);
  }

  .align-emoji,
  .content3-left-box1-row,
  .content3-left-box1-i,
  .profile {
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .box-img {
    border-radius: 0px;
    height: 300px;
  }

  .second-tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .second-tags-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: #f1f3f5;
    padding: 8px;
  }

  .visit-button,
  .visit-button-2 {
    margin: 15px 0px;
    font-size: 10px;
  }

  .schedule {
    padding: 0px 10px;
  }

  .eye-icon {
    display: none;
  }

  .schedule-header{
    font-size: 9px;
  }
}

@media (max-width: 425px) {
  .tags {
    display: none;
  }

  .content-right {
    display: none;
  }

  .content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box !important;
  }

  .content-wrapper {
    width: 100%;
    box-sizing: border-box !important;
  }

  .box {
    margin-top: 10px;
    width: max-content !important;
    box-sizing: border-box !important;
    width: 100% !important;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.206);
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.26);
  }

  .align-emoji,
  .content3-left-box1-row,
  .content3-left-box1-i,
  .profile {
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .box-img {
    border-radius: 0px;
  }

  .second-tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }

  .second-tags-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: #f1f3f5;
    padding: 8px;
  }

  .visit-button,
  .visit-button-2 {
    margin: 15px 0px;
    font-size: 10px;
  }

  .schedule {
    padding: 0px 10px;
  }

  .eye-icon {
    display: none;
  }

  .schedule-header{
    font-size: 9px;
  }

  .dropdown-div {
    left: 70%;
    top: 80%;
  }
}


@media (max-width: 375px){
  .dropdown-div {
    left: 65%;
    top: 80%;
  }
}

/* .content{
  border: 2px solid black;
} */

/* .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100% !important;
  box-sizing: border-box !important;
} */

/* .content-wrapper{
  width: max-content;
} */
/* .content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 60%;
  box-sizing: border-box;
} */

/* .content-left{
  border: 2px solid blue;
} */

/* .content-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box !important;
} */
/*
.content-right{
  border: 2px solid orange;
} */
/* .content-right {
  width: max-content;
  box-sizing: border-box;
} */
